.Home {
  min-height: 100vh;
  background: url("/bg.jpg") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Card */
.card {
  background: #fff6f9;
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

/* Heart icon */
.icon {
  width: 64px;
  height: 64px;
  background: #ff2f7d;
  color: white;
  font-size: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}

/* Text */
.title {
  font-size: 2.3rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1.5rem;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

.optional {
  color: #999;
  font-size: 0.9rem;
}

.required {
  color: #ff2f7d;
}

input,
textarea {
  margin-top: 0.3rem;
  width: 100%;
  padding: 0.6rem 0.7rem;
  border-radius: 8px;
  border: 1px solid #f0b7c8;
  outline: none;
  font-size: 0.9rem;
}

textarea {
  resize: none;
  height: 80px;
}

/* Toggle row */
.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffeaf1;
  padding: 0.7rem;
  border-radius: 8px;
  font-size: 1.35rem;
}

/* Button */
button {
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #ff6aa2, #ff2f7d);
  color: white;
  font-size: 0.95rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.95;
}

/* Switch container */
.switch {
  position: relative;
  width: 44px;
  height: 24px;
  display: inline-block;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Track */
.slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Knob */
.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* ON state */
.switch input:checked + .slider {
  background-color: #ff2f7d;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}


@media (max-width: 480px) {
  .main {
    height: 36rem;
    width: 22rem;
  }
  label {
  font-size: 1.2rem;
  font-weight: 500;
}
}
