.receive {
  min-height: 100vh;
  background: url("/bg.jpg") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.receiver {
  background: #fff6f9;
  width: 100%;
  max-width: 420px;
  padding:2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receiver p {
  font-size: 1.4rem;
  color: #333;

}

.receiver h1 {
  font-size: 5.3rem;
  color: rgb(228, 69, 95);
}

.response-buttons{
    display: flex;
    gap: 10px;
}